In [1]:
import pandas as pd
import os
import numpy as np

Date Culomn: 1

Time Culomn: 2

CO Culomn: 4

SO2 Culomn: 8

PM10 Culomn: 9

In [2]:
# SET Parameters 

# DAILY
co_col = 3
so2_col = 7
pm10_col = 8

# HOURLY
# co_col = 4
# so2_col = 8
# pm10_col = 9

In [3]:
# Set the directory containing the Excel files
directory = 'Dataset/'

# Create an empty list to store the dataframes
dfs = []
index = 0


# Loop through each file in the directory from seocnd row
for filename in os.listdir(directory):
    
    if filename.endswith('.xlsx'):
        # Read the data from the Excel file
        data = pd.read_excel(os.path.join(directory, filename))

        # cast to float
        data.iloc[1:, [co_col, so2_col, pm10_col]] = data.iloc[1:, [co_col, so2_col, pm10_col]].astype(float)


        # add index to column 0
        data.iloc[0] = [index for j in range(data.shape[1])]
        index += 1

        print(index, ')',filename, data.shape[0])

        # Add the dataframe from second row to the list
        # dfs.append(data.iloc[2:, [0,1,4,8,9]])
        dfs.append(pd.DataFrame(data={'date': data.iloc[1:, 1],
                    # 'time': data.iloc[1:, 2],
                    'co': data.iloc[1:, co_col],
                    'so2': data.iloc[1:, so2_col],
                    'pm10': data.iloc[1:, pm10_col]}, index = [i for i in range(data.shape[0])]))

for i in range(len(dfs)):
    dfs[i] = dfs[i][1:]

1 ) اتوبان.محلاتی.منطقه14 (1).xlsx 1053
2 ) ستاد.بحران.منطقه7.xlsx 1093
3 ) پونک.xlsx 1096
4 ) پیروزی.منطقه13.xlsx 1075
5 ) میدان.فتح.منطقه9.xlsx 1091
6 ) گلبرگ.منطقه8.xlsx 1065
7 ) شهرداری.منطقه22.xlsx 1087
8 ) شهرداری.منطقه19.xlsx 1026
9 ) تربیت.مدرس.منطقه6.xlsx 1080
10 ) شهرداری.منطقه.2.xlsx 1096
11 ) اقدسیه.منطقه1.xlsx 1095

In [4]:
print(dfs[1])
# print(dfs[0][dfs[0][1] == '1400/01/01' & dfs[0][2] == '0'])

            date        co       so2       pm10
1     1399/01/01  1.432762  3.100977  25.754943
2     1399/01/02  1.134112  2.991404  26.339174
3     1399/01/03  0.720623  3.325601  26.231035
4     1399/01/04  0.784516  2.828343  12.636616
5     1399/01/05  1.107031  3.673456  18.629067
...          ...       ...       ...        ...
1088  1401/12/25       NaN  3.069358        NaN
1089  1401/12/26       NaN  3.494713        NaN
1090  1401/12/27       NaN  1.931176        NaN
1091  1401/12/28       NaN  2.164131        NaN
1092  1401/12/29       NaN  2.833674        NaN

[1092 rows x 4 columns]

In [18]:
# Cleaning the data <DAILY>
years = [1399, 1400, 1401]
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
days = [31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29]

prv_date = '1400/01/01'

column_names = dfs[0].columns
print(column_names)
new_dfs = [pd.DataFrame(columns=column_names) for i in range(len(dfs))]

null_counter = [0 for i in range(len(dfs))]

for year in years: 
    for max_day, month in zip(days, months):
        for day in range(1, max_day + 1):
            if day < 10:
                day = f'0{day}'
            cur_date = f'{year}/{month}/{day}'
            for i in range(len(dfs)):
                row = dfs[i][dfs[i]['date'] == cur_date] 
                if row.shape[0] > 0:
                    # get index
                    # print('yes', cur_date, cur_hour, i)
                    new_row = {'date': cur_date, 
                            'co': row['co'].values[0], 
                            'so2': row['so2'].values[0], 
                            'pm10': row['pm10'].values[0]}
                    new_dfs[i].loc[len(new_dfs[i])] = new_row
                    
                else:
                    # add null row
                    new_dfs[i].loc[len(new_dfs[i])] = {'date': cur_date,
                                                    'co': np.NaN,
                                                    'so2': np.NaN,
                                                    'pm10': np.NaN}
                                                           
                    null_counter[i] += 1
            prv_date = cur_date
            # print(new_dfs[0])
        print(f'{year}/{month} done')
            
print(new_dfs[0])

Index(['date', 'co', 'so2', 'pm10'], dtype='object')
1399/01 done
1399/02 done
1399/03 done
1399/04 done
1399/05 done
1399/06 done
1399/07 done
1399/08 done
1399/09 done
1399/10 done
1399/11 done
1399/12 done
1400/01 done
1400/02 done
1400/03 done
1400/04 done
1400/05 done
1400/06 done
1400/07 done
1400/08 done
1400/09 done
1400/10 done
1400/11 done
1400/12 done
1401/01 done
1401/02 done
1401/03 done
1401/04 done
1401/05 done
1401/06 done
1401/07 done
1401/08 done
1401/09 done
1401/10 done
1401/11 done
1401/12 done
            date        co       so2       pm10
0     1399/01/01  0.781111  2.879632  34.937691
1     1399/01/02  0.483451  2.979898  32.153485
2     1399/01/03  0.485140  3.565474  32.807312
3     1399/01/04  0.634489  2.769805  15.075615
4     1399/01/05  0.861081  5.952307  26.082708
...          ...       ...       ...        ...
1090  1401/12/25  1.245443  3.299031  33.972426
1091  1401/12/26  1.137636  3.895407  39.107264
1092  1401/12/27  1.398713  4.218286  51.343667
1093  1401/12/28  1.950093  6.368767  54.159222
1094  1401/12/29  1.019187  2.957621  33.714621

[1095 rows x 4 columns]

In [19]:
# Emptying directory
for filename in os.listdir('Clean with NaN/'):
    if filename.endswith('.csv'):
        os.remove(os.path.join('Clean with NaN/', filename))

# Save the dataframes to csv files
for i in range(len(new_dfs)):
    new_dfs[i].to_csv(f'Clean with NaN/cleaned_data_{i}.csv', index=False)

In [20]:
# NULL counter 
for i in range(len(dfs)):
    print(f'{i} : {null_counter[i]}')

0 : 44
1 : 4
2 : 1
3 : 22
4 : 6
5 : 32
6 : 10
7 : 71
8 : 17
9 : 1
10 : 2

In [21]:
# # Cleaning the data <HOURLY>
# years = [1400, 1401]
# months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
# days = [31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29]
# hours = [i for i in range(24)]

# prv_date = '1400/01/01'
# prv_time = 0
# column_names = dfs[0].columns
# print(column_names)
# new_dfs = [pd.DataFrame(columns=column_names) for i in range(len(dfs))]

# null_counter = [0 for i in range(len(dfs))]

# for year in years: 
#     for max_day, month in zip(days, months):
#         for day in range(1, max_day + 1):
#             if day < 10:
#                 day = f'0{day}'
#             cur_date = f'{year}/{month}/{day}'
#             for cur_hour in hours:
#                 for i in range(len(dfs)):
#                     row = dfs[i][(dfs[i]['date'] == cur_date) & (dfs[i]['time'] == cur_hour)] 
#                     if row.shape[0] > 0:
#                         # get index
#                         # print('yes', cur_date, cur_hour, i)
#                         new_row = {'date': cur_date, 
#                                    'time': cur_hour, 
#                                    'co': row['co'].values[0], 
#                                    'so2': row['so2'].values[0], 
#                                    'pm10': row['pm10'].values[0]}
#                         new_dfs[i].loc[len(new_dfs[i])] = new_row
                        
#                     else:
#                         # add null row
#                         new_dfs[i].loc[len(new_dfs[i])] = {'date': cur_date,
#                                                            'time': cur_hour,
#                                                            'co': np.NaN,
#                                                            'so2': np.NaN,
#                                                            'pm10': np.NaN}
                                                           
                        
#                 prv_time = cur_hour
#             prv_date = cur_date
#             # print(new_dfs[0])
#         print(f'{year}/{month} done')
            
# print(new_dfs[0])

# # Save the dataframes to csv files
# for i in range(len(new_dfs)):
#     new_dfs[i].to_csv(f'Clean with NaN/cleaned_data_{i}.csv', index=False)

In [22]:
directory = 'Clean with NaN/'
# read from csv
new_dfs = []

for file in os.listdir(directory):
    if file.endswith(".csv"):
        new_dfs.append(pd.read_csv(directory + file))
        
        # print file name
        print(file)

cleaned_data_10.csv
cleaned_data_1.csv
cleaned_data_0.csv
cleaned_data_2.csv
cleaned_data_3.csv
cleaned_data_7.csv
cleaned_data_6.csv
cleaned_data_4.csv
cleaned_data_5.csv
cleaned_data_8.csv
cleaned_data_9.csv

In [23]:
# print shape of each dataframe
for i in range(len(new_dfs)):
    print(new_dfs[i].shape)

(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)
(1095, 4)

In [24]:
import numpy as np
# for null values: make average of other values in same day and hour

row_num = new_dfs[0].shape[0]
col_num = new_dfs[0].shape[1]
node_num = len(new_dfs)

print(row_num, node_num)

null_counter = [[0, 0, 0] for i in range(node_num)]

# iterate on rows of every dataframe
for i in range(row_num):
    all_rows = []

    # iterate on dataframes
    for j in range(node_num):
        all_rows.append(new_dfs[j].iloc[i].to_list())
    
    # print(f'{i}) ** ', all_rows)

    co_col = col_num - 3
    so2_col = col_num - 2
    pm10_col = col_num - 1

    co = np.nanmean([all_rows[k][co_col] for k in range(node_num)])
    so2 = np.nanmean([all_rows[k][so2_col] for k in range(node_num)])
    pm10 = np.nanmean([all_rows[k][pm10_col] for k in range(node_num)])

    
    # print(f'{i})', co, so2, pm10)

    # fill the null values with 0.7 * average + 0.3 * previous value
    for j in range(node_num):
        # co2 
        if np.isnan(all_rows[j][co_col]):
            if np.isnan(co):
                new_dfs[j].iloc[i, co_col] = new_dfs[j].iloc[i - 1, co_col]
            else:
                new_dfs[j].iloc[i, co_col] = 0.7 * co + 0.3 * new_dfs[j].iloc[i - 1, co_col]
            
            null_counter[j][0] += 1

        # so2
        if np.isnan(all_rows[j][so2_col]):
            if np.isnan(so2):
                new_dfs[j].iloc[i, so2_col] = new_dfs[j].iloc[i - 1, so2_col]
            else:
                new_dfs[j].iloc[i, so2_col] = 0.7 * so2 + 0.3 * new_dfs[j].iloc[i - 1, so2_col]

            null_counter[j][1] += 1

        # pm10
        if np.isnan(all_rows[j][pm10_col]):
            if np.isnan(pm10):
                new_dfs[j].iloc[i, pm10_col] = new_dfs[j].iloc[i - 1, pm10_col]
            else:
                new_dfs[j].iloc[i, pm10_col] = 0.7 * pm10 + 0.3 * new_dfs[j].iloc[i - 1, pm10_col]

            null_counter[j][2] += 1
        
    # if i == 3:
    #     break
    if i % 500 == 0:
        print(f'{i} rows done')

print(new_dfs[0])

# Save the dataframes to csv files
for i in range(len(new_dfs)):

    new_dfs[i].to_csv(f'Clean/cleaned_data_{i}.csv', index=False)

1095 11
0 rows done
500 rows done

/var/folders/h8/mhwh4fjn0qj405sjdd9_5ffw0000gn/T/ipykernel_80203/1212951761.py:26: RuntimeWarning: Mean of empty slice
  co = np.nanmean([all_rows[k][co_col] for k in range(node_num)])
/var/folders/h8/mhwh4fjn0qj405sjdd9_5ffw0000gn/T/ipykernel_80203/1212951761.py:27: RuntimeWarning: Mean of empty slice
  so2 = np.nanmean([all_rows[k][so2_col] for k in range(node_num)])
/var/folders/h8/mhwh4fjn0qj405sjdd9_5ffw0000gn/T/ipykernel_80203/1212951761.py:28: RuntimeWarning: Mean of empty slice
  pm10 = np.nanmean([all_rows[k][pm10_col] for k in range(node_num)])

1000 rows done
            date        co       so2       pm10
0     1399/01/01  1.287979  1.761700  20.560321
1     1399/01/02  0.735360  2.617922  21.318358
2     1399/01/03  0.666496  1.939312  19.224940
3     1399/01/04  1.087427  2.246175  11.412533
4     1399/01/05  1.496053  2.579158  18.692815
...          ...       ...       ...        ...
1090  1401/12/25  0.991112  3.445038  33.391259
1091  1401/12/26  1.007853  3.218236  48.858406
1092  1401/12/27  2.292972  4.125232  44.985591
1093  1401/12/28  0.916010  3.863412  40.893744
1094  1401/12/29  0.733984  3.481937  31.758359

[1095 rows x 4 columns]

In [25]:
for i in range(len(new_dfs)):
    print(f'{i+1})', null_counter[i])

1) [5, 2, 240]
2) [311, 25, 124]
3) [61, 47, 68]
4) [12, 5, 71]
5) [28, 42, 69]
6) [319, 74, 110]
7) [26, 10, 169]
8) [115, 26, 69]
9) [106, 36, 145]
10) [311, 22, 61]
11) [19, 1, 37]

In [27]:
print(dfs[10])

            date        co       so2       pm10
1     1399/01/01  1.287979    1.7617  20.560321
2     1399/01/02   0.73536  2.617922  21.318358
3     1399/01/03  0.666496  1.939312   19.22494
4     1399/01/04  1.087427  2.246175  11.412533
5     1399/01/05  1.496053  2.579158  18.692815
...          ...       ...       ...        ...
1090  1401/12/25  0.991112  3.445038  33.391259
1091  1401/12/26  1.007853  3.218236  48.858406
1092  1401/12/27  2.292972  4.125232  44.985591
1093  1401/12/28   0.91601  3.863412  40.893744
1094  1401/12/29  0.733984  3.481937  31.758359

[1094 rows x 4 columns]